body {
	font-family:'Playfair Display', serif;
	color: #002305;
	background-image: url('background.jpg');
	margin: 0;
  padding: 0;
	position: absolute;
	width:100%
}

.header h1 {
	font-weight:700;
	font-size: 128px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	text-decoration: underline;
	text-shadow: 4px 4px 0px #0002;
	text-decoration-thickness: 0.06em;
}

.header h1 img {
	height: 100px;
}

.subheader {
	margin-bottom: 70px;
}

.subheader h2 {
	margin-top: 0px;
	font-weight:400;
	font-style:italic;
	letter-spacing: 0.04em;
	text-align: right;
	margin-right: 10vw;
	text-decoration: underline;
}

.subheader h2 .star {
	text-decoration: none;
	font-style:normal;
}

.subheader .social {
	display: none;
	position: absolute;
	left: 20vw;
	margin-top: 5px;
}

.content {
	background: linear-gradient(180deg, #e0ece1 0%, #e0ece1 5%);
	text-align: center;
	box-shadow: 0px 0px 15px #0005;
}

.content-inner {
	display: inline-block;
	max-width: 1200px;
	text-align: left;
}

.text-container {
	width:45%;
	display:inline-block;
	padding: 5%;
	box-sizing: border-box;
}

.image-container {
	width:45%;
	display:inline-block;
}

.image-container img {
	margin-left:10%;
	width:80%;
	border: 25px solid #efefef;
	box-shadow: 4px 4px 10px #0002;
}


@media (max-width: 1000px) {
	.header img {
		display: none;
	}

	.text-container {
		width: 100%;
	}
	.image-container {
		width: 100%;
		margin-left: 6%;
	}

	.image-container img {
		margin-left: 0%;
	}

	.copy-2 .image-container {
		display: none;
	}

	.copy-5 .image-container {
		display: none;
	}

	.header h1 {
		margin-left: 5%;
		font-size: 96px;
	}

	body {
		background-position: top -40px left 0px;
	}
}

@media (max-width: 600px) {
	.header h1 {
		margin-left: 5%;
		font-size: 72px;
	}

	.subheader h2 {
		font-size: 18px;
	}
	body {
		background-position: top -70px left 0px;
	}

}

@media (max-width: 400px) {
	.header h1 {
		margin-left: 5%;
		font-size: 64px;
	}
}

.footer {
	margin-top: 50px;
	text-align: center;
	font-size: 12px;
	padding-bottom: 15px;
}

.dates {
	font-weight: bold;
	text-align: center;
}

.button {
	display: inline-block;
	border: 1px solid #002305;
	border-radius: 3px;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
	font-size:18px;
	box-shadow: 0px 0px 5px #0005;
	color: #002305;

}

.button a {
	text-decoration: none;
	color: #002305;
}

.button:hover {
	background-color: #002305;
	color:#e0ece1;

}

.align-center {
	text-align: center;
}