body {
	font-family:'Playfair Display', serif;
	color: #002305;
	background-image: url('background.jpg');
	margin: 0;
  padding: 0;
}

.header h1 {
	font-weight:700;
	font-size: 128px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	text-decoration: underline;
	text-shadow: 4px 4px 0px #0002;
	text-decoration-thickness: 0.06em;
}

.header h1 img {
	height: 100px;
}

.subheader {
	margin-bottom: 70px;
}

.subheader h2 {
	margin-top: 0px;
	font-weight:400;
	font-style:italic;
	letter-spacing: 0.04em;
	text-align: right;
	margin-right: 10vw;
	text-decoration: underline;
}

.subheader h2 .star {
	text-decoration: none;
	font-style:normal;
}

.subheader .social {
	display: none;
	position: absolute;
	left: 20vw;
	margin-top: 5px;
}

.content {
	background-color: #e0ece1;
}

.copy-1 .text-container {
	width:45vw;
	display:inline-block;
	padding: 5vw;
	box-sizing: border-box;
}

.copy-1 .image-container {
	width:50vw;
	display:inline-block;
}

.image-container img {
	margin-left:10%;
	width:80%;
	border: 25px solid #efefef;
	box-shadow: 4px 4px 10px #0002;
}

.copy-2 .text-container {
	width:45vw;
	display:inline-block;
	padding: 5vw;
	box-sizing: border-box;
}

.copy-2 .image-container {
	width:50vw;
	display:inline-block;
}

.copy-3 .text-container {
	width:45vw;
	display:inline-block;
	padding: 5vw;
	box-sizing: border-box;
}

.copy-3 .image-container {
	width:50vw;
	display:inline-block;
}

.copy-4 .text-container {
	width:45vw;
	display:inline-block;
	padding: 5vw;
	box-sizing: border-box;
}

.copy-4 .image-container {
	width:50vw;
	display:inline-block;
}

.copy-5 .text-container {
	width:45vw;
	display:inline-block;
	padding: 5vw;
	box-sizing: border-box;
}

.copy-5 .image-container {
	width:50vw;
	display:inline-block;
}

.footer {
	text-align: center;
	font-size: 12px;
	padding-bottom: 15px;
}

.dates {
	font-weight: bold;
	text-align: center;
}

.discord-button {
	display: inline-block;
	border: 1px solid #002305;
	border-radius: 3px;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
	font-size:18px;
	box-shadow: 0px 0px 5px #0005;
}

.discord-button a {
	text-decoration: none;
	color: #002305;
}

.discord-button:hover {
	background-color: #002305;
	color:#e0ece1;

}

.align-center {
	text-align: center;
}